<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastro</li>
</ol>

<div class="container">
  <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-md-12">
        <div *ngIf="success" class="alert alert-success"  role="alert">
          Operação efetuada com sucesso!
        </div>
        <div *ngFor="let error of errors" class="alert alert-danger"  role="alert">
          {{ error }}
        </div>
      </div>
    </div>

    <div class="row" *ngIf="cliente.id">
      <div class="col-md-6">
        <label for="id">ID</label>
        <input [ngModel]="cliente.id" name="id" disabled type="text" class="form-control">
      </div>
      <div class="col-md-6">
        <label for="id">Data Cadastro</label>
        <input [ngModel]="cliente.dataCadastro" name="dataCadastro" disabled type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="id">Nome</label>
          <input [(ngModel)]="cliente.nome" name="nome" type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="id">CPF</label>
          <input [(ngModel)]="cliente.cpf" name="cpf" type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-success" *ngIf="!cliente.id">
          <i class="fa fa-save"></i>
          Salvar
        </button>
        <button class="btn btn-primary" *ngIf="cliente.id">
          <i class="fa fa-sync-alt"></i>
          Atualizar
        </button>
        <button type="button"
                (click)="irParaFormularioListagem()"
                class="btn btn-danger ml-1">
          <i class="fa fa-thin fa-arrow-left"></i>
          Ver clientes
        </button>
      </div>
    </div>
  </form>
</div>
