<h1 class="mt-4">Serviços - prestados</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastro</li>
</ol>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="success" class="alert alert-success"  role="alert">
        Operação efetuada com sucesso!
      </div>
      <div *ngFor="let error of errors" class="alert alert-danger"  role="alert">
        {{ error }}
      </div>
    </div>
  </div>
  <form #form="ngForm" (submit)="onSubmit()">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Cliente</label>
            <select class="form-control"
                    [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="servico.idCliente">
              <option>Selecionar</option>
              <option *ngFor="let cliente of clientes" [ngValue]="cliente.id">{{ cliente.nome }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
           <label for="descricao">Descrição</label>
           <input [(ngModel)]="servico.descricao" name="descricao" type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
           <label for="data">Data</label>
           <input [(ngModel)]="servico.data" name="data" type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
           <label for="preco">Preço</label>
           <input [(ngModel)]="servico.preco" name="preco" type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-success">
            <i class="fa fa-save"></i>
            Salvar
          </button>
          <button class="btn btn-danger ml-2" type="button"
                  (click)="irParaCadastro()" >
            <i class="fa fa-search"></i>
            Consultar
          </button>
        </div>
      </div>
  </form>
</div>
